<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/gui/js/jquery-3.3.1.js"></script>
    <script src="/gui/js/bootstrap.js"></script>
    <script src="/gui/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/gui/css/bootstrap.css">
    <link rel="stylesheet" href="/gui/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/gui/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/gui/css/style.css">
    <title>Shared Power</title>
</head>
<body>
<div class="container">