<div class="side-nav">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Account</span>
                </a>
            </li>
        </ul>
    </nav>
</div>