<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column py-4">
        <li class="nav-item py-3">
          <a class="nav-link" href="/cgi-bin/searchForTool.py">
            <span data-feather="home"></span> Tools
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item py-3">          
          <a class="nav-link" href="#">
            <span data-feather="file"></span>
            Add tool 
          </a>       
        </li>
        <li class="nav-item py-3">
          <a class="nav-link" href="/cgi-bin/rentedTools.py">
            <span data-feather="shopping-cart"></span>
            Tools you rent
          </a>
        </li>
        <li class="nav-item py-3">
          <a class="nav-link" href="/cgi-bin/invoice.py">
            <span data-feather="users"></span>
            Invoices
          </a>
        </li>
        <li class="nav-item py-3">
          <a class="nav-link" href="/cgi-bin/userPanel.py">
            <span data-feather="bar-chart-2"></span>
            User data
          </a>
        </li>
      </ul>

         
    </div>
  </nav>