<div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="../gui/img/{toolPic}" class="img-fluid" style="width:200px; height:200px;" alt="pic">
        </div>
        <div class="col">
            <div class="card-block px-3 py-3 w-auto" style="max-height:250px;">
                <h4 class="card-title">{toolName}</h4>
                <p class="card-text">{toolDesc}
                </p>
                <div class="text-right align-bottom">
                    <a href="#" class="btn btn-primary">BOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>