<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="pt-3 pb-2 mb-3 border-bottom justify-content-between flex-wrap align-items-center flex-md-nowrap">
        <form class="" method="POST" action="/cgi-bin/userPanel.py">
            <h3>Your data</h3>
            <div class="form-group row">
                <label for="exampleUsername1">User name (you can not change it)</label>
                <input type="text" class="form-control-plaintext font-weight-bold font-" readonly id="exampleUsername1" aria-describedby="emailHelp" placeholder="Enter user name"
                    value="{username}">                
            </div>
            <div class="form-group row">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email" value="{email}">
            </div>
            <div class="form-group row">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter name" value="{name}">
            </div>
            <div class="form-group row">
                <label for="inputSurname">Surname</label>
                <input type="text" class="form-control" id="inputSurname" name="inputSurname" placeholder="Enter surname" value="{surname}">
            </div>
            <div class="form-group row">
                <label for="inputAdress">Adress</label>
                <input type="text" class="form-control" id="inputAdress" name="inputAdress" placeholder="Enter adress" value="{adress}">
            </div>
            <div class="form-group row">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password, type only if you want to change it.">
            </div>

            <button type="submit" class="btn btn-primary" id="submitUserPanel">Submit changes</button>
        </form>
    </div>
    <h3>Your tools</h3>
</main>